<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGCON</title>

    <!-- Compiled and minified -->
    <link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/1775/8583/t/1/assets/admin-materialize.min.css?2711767630378816724">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Local -->
    <link rel="shortcut icon" href="../public/images/logos/logcon-logo-24.png">
    <link rel="stylesheet" href="../public/stylesheets/main.css">
    <script src="../public/scripts/main.js"></script>

    <!-- Localhost -->
    <link rel="shortcut icon" href="images/logos/logcon-logo-24.png">
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="scripts/main.js"></script>

</head>

<body>
    <div id="alarm-cover">
        <div id="alarm-content" class="text-center _404bg">
            <p>
                이런!
            </p>
            <p class="big-emoticon">
                ¯\_(ツ)_/¯
            </p>
            <p>
                페이지를 어디에 뒀는지 모르겠네요!<br>
                아무래도 대문으로 돌아가야 할 것 같아요 (･ω<)☆
            </p>
        </div>
    </div>
</body>