<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>관리자페이지</title>
</head>
<body>
        <div>
            <button
                type="button" onclick="location.href='/tligd/upNotice'">공지추가</button>
        </div>
        <div>
            <button
                type="button" onclick="location.href='/tligd/insertP'">문제추가</button>
        </div>
        <div>
            <button
                type="button" onclick="location.href='/tligd/delUser'">유저삭제</button>
        </div>       
</body>
</html>