<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>관리자페이지</title>
</head>
<body>
    <form action="/admin/notice" method="post">
        <div>
            <button
                type="button" onclick="location.href='admin/upNotice'">공지추가</button>
        </div>
        <div>
            <button
                type="button" onclick="location.href='admin/insertP'">문제추가</button>
        </div>
        <div>
            <button
                type="button" onclick="location.href='admin/delUser'">유저삭제</button>
        </div>
        <div>
            <button
                type="button" onclick="location.href='admin/userList'">유저리스트</button>
        </div>

    </form>
</body>
</html>