<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGCON</title>

    <!-- Compiled and minified -->
    <link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/1775/8583/t/1/assets/admin-materialize.min.css?2711767630378816724">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Local -->
    <link rel="shortcut icon" href="../public/images/logos/logcon-logo-24.png">
    <link rel="stylesheet" href="../public/stylesheets/main.css">
    <script src="../public/scripts/main.js"></script>

    <!-- Localhost -->
    <link rel="shortcut icon" href="images/logos/logcon-logo-24.png">
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="scripts/main.js"></script>

</head>
<body>
    <div id="alarm-cover">
        <div id="alarm-content">
            <p>
                입력하셨던 이메일로 인증 코드가 전송되었습니다.<br>
                인증코드 입력 후 엔터를 누르면 로그인이 완료됩니다.
            </p>
            <form action="/auth" method="POST" class="row">
                <div class="input-field col s12">
                    <input name="key" id="auth" type="text" class="validate">
                    <label for="auth">인증 코드</label>
                </div>
            </form>
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">인증 코드가 오지 않았나요?</div>
                    <div class="collapsible-body">
                        <form action="/auth" method="POST" class="row">
                            <p class="text-small">
                                이메일을 다시 등록해보세요.
                            </p>
                            <div class="input-field col s12">
                                <input name="email" id="email" type="email" class="validate">
                                <label for="email">이메일 재등록</label>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>