<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGCON</title>

    <!-- Compiled and minified -->
    <link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/1775/8583/t/1/assets/admin-materialize.min.css?2711767630378816724">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Local -->
    <link rel="shortcut icon" href="../public/images/logos/logcon-logo-24.png">
    <link rel="stylesheet" href="../public/stylesheets/main.css">
    <script src="../public/scripts/main.js"></script>

    <!-- Localhost -->
    <link rel="shortcut icon" href="images/logos/logcon-logo-24.png">
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="scripts/main.js"></script>

</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" data-target="slide-out" class="sidenav-trigger waves-effect"><i id="menu-icon" class="material-icons full hide-on-large-only">  </i></a>
                <a href="#" class="brand-logo">문제</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <!-- 주석 해제 -->
                    <!-- <% if (user_school == "undefined") { %>
                        <li><a href="#login" class="modal-trigger">로그인</a></li>
                        <li><a href="#register" class="modal-trigger">회원가입</a></li>
                    <% } else { %> -->
                        <li class="no-hover"><a class="no-hover"><%= user_id %> - <%= score %></a></li>
                        <li><a href="/mypage">내 정보</a></li>
                        <li><a href="/logout">로그아웃</a></li>
                    <!-- <% } %> -->
                </ul>
            </div>
        </nav>

        <ul id="slide-out" class="sidenav sidenav-fixed">
            <li><a href="/" id="logo-cover"></a></li>

            <li class="waves-effect"><a href="/">대문</a></li>
            <li class="waves-effect"><a href="/challenges">문제</a></li>
            <li class="waves-effect"><a href="/notice">공지사항</a></li>
            <li class="waves-effect"><a href="/rank">순위</a></li>
            <li class="waves-effect full hide-on-large-only">
                <% if (user_school == "undefined") { %>
                    <a href="#loginAndRegister" class="modal-trigger">로그인</a>
                <% } else { %>
                    <a href="/mypage">내 정보</a>
                    <a href="/logout">로그아웃</a>
                <% } %>
            </li>
        </ul>

        
    </header>

    <main>
        <div class="row">

            <% for (var i = 0; i < info.length; i++) { %>
                <div class="col s12 m3">
                    <div class="card">
                        <% switch (info[i].pType) { %>
                            <% case "network": %>
                                <div class="card-content lighten-5 red problem-type PT-network">
                                </div>
                                <% break; %>
                            <% case "server": %>
                                <div class="card-content lighten-5 red problem-type PT-server">
                                </div>
                                <% break; %>
                            <% case "web": %>
                                <div class="card-content lighten-5 red problem-type PT-web">
                                </div>
                                <% break; %>
                            <% default : %>
                                <div class="card-content lighten-5 red problem-type PT-network">
                                </div>
                        <% } %>
                        <div class="card-content">
                            <p><%= info[i].TITLE %></p>
                        </div>
                        <div class="card-tabs">
                            <ul class="tabs tabs-fixed-width tabs-transparent">
                                <li class="tab red">
                                    <a><%= info[i].SCORE %></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            <% } %>


            <!-- <div class="col s12 m3">
                <div class="card">
                    <div class="card-content lighten-5 red problem-type">
                        <div id="test2" class="active"></div>
                    </div>
                    <div class="card-content">
                        <p>질뻐기의 타입은?</p>
                    </div>
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width tabs-transparent">
                            <li class="tab red">
                                <a>350</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->
            
        </div>
    </main>

    <footer>

    </footer>
</body>
</html>