<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGCON</title>

    <!-- Compiled and minified -->
    <link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/1775/8583/t/1/assets/admin-materialize.min.css?2711767630378816724">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Local -->
    <link rel="shortcut icon" href="../public/images/logos/logcon-logo-24.png">
    <link rel="stylesheet" href="../public/stylesheets/main.css">
    <script src="../public/scripts/main.js"></script>

    <!-- Localhost -->
    <link rel="shortcut icon" href="images/logos/logcon-logo-24.png">
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="scripts/main.js"></script>

</head>

<!-- 오우! 이런곳에서 주석을 찾으셨군요?! 개발자도구좀 볼 줄 아는 놈인가?! 로그콘 페이지 곳곳에서는 개발자들의 다양한 비하힌드 스토리를 찾아보실 수 있습니다. 문제를 플다가 조금 지루해진다면 잠깐 보물찾기 하듯이 비하인드 스토리를 찾아보는건 어떨까요? (사실 이것도 부장님 몰래 만든겁니다ㅎ 걸리면 어떻게 될지 몰라요;;) -->

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" data-target="slide-out" class="sidenav-trigger waves-effect"><i id="menu-icon" class="material-icons full hide-on-large-only">  </i></a>
                <a href="#" class="brand-logo">대문</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <% if (user_school == "undefined") { %>
                        <li><a href="#login" class="modal-trigger">로그인</a></li>
                        <li><a href="#register" class="modal-trigger">회원가입</a></li>
                    <% } else { %>
                        <li><a href="/mypage"><%= user_id %></a></li>
                        <li><a href="/mypage">Score : <%= score %></a></li>
                    <% } %>
                </ul>
            </div>
        </nav>

        <ul id="slide-out" class="sidenav sidenav-fixed">
            <li><a href="/" id="logo-cover"></a></li>

            <li class="waves-effect"><a href="/">대문</a></li>
            <li class="waves-effect"><a href="/challenge">문제</a></li>
            <li class="waves-effect"><a href="/notice">공지사항</a></li>
            <li class="waves-effect"><a href="/rank">순위</a></li>
            <li class="waves-effect full hide-on-large-only">
                <% if (user_school == "undefined") { %>
                    <a href="#loginAndRegister" class="modal-trigger">로그인</a>
                <% } else { %>
                    <a href="/mypage"><%= user_id %></a>
                <% } %>
            </li>
        </ul>

        
    </header>
    
    <main>

        <!-- 대문로고는 이미지태그로 하는것보다 background-image 로 하는게 컨트롤 하기 쉬울것같음 -->
        <!-- 대문로고가 가변적으로 변해야하는데 img 태그로 하는것보다는 css로 넣는게 컨트롤 하기 더 편하거든 ㅎ -->
        <!-- 고로 미안하지만 img 태그 지울게... ㅈㅅ; -->
        <div class="image_block"></div>

        <div class = "date_block">
            <h3><span class="sentence">대회일정 : </span> <span class="sentence">2019년 1월 19일 오전 9시 <span class="sentence"> ~ 2019년 1월 29일 오전 9시</span></span></h3>
        </div>
        <div class="notice_block">
            <!--아쿠아맨 개꿀잼 아쿠아맨 붐은 온다-->
            <ul>
                <li>아이디나 코멘트에 부적절한 문구가 있을 경우, 즉시 삭제 조치하겠습니다.</li>
                <li>이름이나 학교명을 제대로 기재하지 않을 경우, 상품전달과 수상에 어려움이 생길 수 있으므로 주의하여 기재해주세요.</li>
                <li>기재된 내용을 확인 할 수 없는 경우, 수상이 취소될 수 있습니다.</li>
            </ul>
        </div>
        
    </main>

    <footer>

    </footer>

    <!-- Modal Structure -->
    <div id="login" class="modal">
        <form action="/login" method="POST">
            <div class="modal-content">
                <h4>로그인</h4>
            
                <div class="row">
                    <div class="input-field col s6">
                        <input name="id" placeholder="guchiman12" id="Lusername" type="text" class="validate" required>
                        <label for="Lusername">User Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input name="pw" placeholder="•••••••••••••••••••" id="Lpassword" type="password" class="validate" required>
                        <label for="Lpassword">Password</label>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="submit" class="waves-effect btn-flat submit-button">로그인</button>
                <a href="#!" class="modal-close waves-effect btn-flat">뒤로</a>
            </div>
        </form>
    </div>

    <!-- Modal Structure -->
    <div id="register" class="modal">
        <form action="/register" method="POST">
            <div class="modal-content">
                <h4>회원가입</h4>
            
                <div class="row">
                    <div class="input-field col s12">
                        <input name="id" placeholder="guchiman12" id="Rusername" type="text" class="validate" required>
                        <label for="Rusername">User Name</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input name="pw" placeholder="jung5hak2seng7chan!" id="Rpassword" type="password" class="validate" required>
                        <label for="Rpassword">Password</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="•••••••••••••••••••" id="confirmPassword" type="password" class="validate" required>
                        <label id="confirmPassword-label" for="confirmPassword">Confirm Password</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input name="email" placeholder="IiLeohGeLaDo66@gmail.com" id="email" type="email" class="validate" required>
                        <label for="email">Email</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input name="school" placeholder="오류중학교" id="school" type="text" class="validate" required>
                        <label for="school">school</label>
                    </div>
                </div>

                <div class="row">
                    <label>
                        <input name="grade" value="m" type="radio" checked />
                        <span>중학생</span>
                    </label>
                     &nbsp; &nbsp; &nbsp; 
                    <label>
                        <input name="grade" value="h" type="radio" />
                        <span>고등학생</span>
                    </label>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="submit" class="waves-effect btn-flat submit-button">회원가입</button>
                <a href="#!" class="modal-close waves-effect btn-flat">뒤로</a>
            </div>
        </form>
    </div>

    <!-- Modal Structure -->
    <div id="loginAndRegister" class="modal modal-fixed-footer">
        <form id="loginAndRegister-form" action="/login" method="POST">
            <div class="modal-content">
                <h4>로그인/회원가입</h4>
                <ul class="collapsible">
                    <li id="MLheader" class="active">
                        <div class="collapsible-header">로그인</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input name="id" placeholder="guchiman12" id="MLusername" type="text" class="validate" required>
                                    <label for="MLusername">User Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input name="pw" placeholder="•••••••••••••••••••" id="MLpassword" type="password" class="validate" required>
                                    <label for="MLpassword">Password</label>
                                </div>
                            </div>
                        </div>
                    </li>


                    <li id="MRheader">
                        <div class="collapsible-header">회원가입</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input name="id" placeholder="guchiman12" id="MRusername" type="text" class="validate" required disabled>
                                    <label for="MRusername">User Name</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input name="pw" placeholder="jung5hak2seng7chan!" id="MRpassword" type="password" class="validate" required disabled>
                                    <label for="MRpassword">Password</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input placeholder="•••••••••••••••••••" id="MconfirmPassword" type="password" class="validate" required disabled>
                                    <label id="MconfirmPassword-label" for="MconfirmPassword">Confirm Password</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input name="email" placeholder="IiLeohGeLaDo66@gmail.com" id="Memail" type="email" class="validate" required disabled>
                                    <label for="Memail">Email</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input name="school" placeholder="오류중학교" id="Mschool" type="text" class="validate" required disabled>
                                    <label for="Mschool">school</label>
                                </div>
                            </div>

                            <div class="row">
                                <label>
                                    <input name="grade" value="m" type="radio" checked />
                                    <span>중학생</span>
                                </label>
                                 &nbsp; &nbsp; &nbsp; 
                                <label>
                                    <input name="grade" value="h" type="radio" />
                                    <span>고등학생</span>
                                </label>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="modal-footer">
                <button type="submit" id="loginAndRegister-submit" class="waves-effect btn-flat submit-button">로그인</button>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">뒤로</a>
            </div>
        </form>
    </div>
</body>
</html>

