<!DOCTYPE html>
<html lang="ko"> 
    <head>
        <title>login</title>
    </head>

    <body> 
        <%console.log(success)%>
        <script>
            if (success === 'true'){
                alert('로그인 성공!');
                window.location.href = "/";
                <% console.log(1) %>
            }
            else{
                alert('로그인 실패!');
                window.location.href = "/";
                <% console.log(2) %>
            }
        </script>
        
    </body>

</html>