@font-face{ 
    font-family:'SeoulNamsan';
    src:url('../fonts/SeoulNamsanL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{ 
    font-family:'SeoulNamsan';
    src:url('../fonts/SeoulNamsanB.ttf') format('truetype'); 
    font-weight: bold; 
    font-style: normal; 
}

/* server */
/* @font-face{ 
    font-family:'SeoulNamsan';
    src:url('fonts/SeoulNamsanL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{ 
    font-family:'SeoulNamsan';
    src:url('fonts/SeoulNamsanB.ttf') format('truetype'); 
    font-weight: bold; 
    font-style: normal; 
} */

html, body {
    margin: 0;
    font-family: "SeoulNamsan", "gulim";
    width: 100vw;
}

nav {
    /* height: 110px; */
}

.nav-wrapper {
    /* display: flex;
    align-items: center; */
    padding-left: 300px;
}

#logo-cover {
    height: 110px;
    
}

@media only screen and (min-width: 601px) {
        nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
            height: 110px;
            line-height: 110px;
    }
}

@media (max-width: 992px) {
    .nav-wrapper {
        padding-left: 0;
    }
}